version: "3.7"

services:
  relaychain-alice:
    image: parity/polkadot:v0.9.9-1
    ports:
      - 9944:9944
      - 9933:9933
      - 30333:30333
    volumes:
      - relaychain-alice:/data
      - ./chainspec-raw.json:/app/chainspec-raw.json
    command:
      - --base-path=/data
      - --chain=/app/chainspec-raw.json
      - --validator
      - --ws-external
      - --rpc-external
      - --rpc-cors=all
      - --name=alice
      - --rpc-methods=unsafe
      # - --force-authoring
    environment:
      RUST_LOG: debug
    ulimits:
      &a1
      nofile:
        soft: 65536
        hard: 65536
  relaychain-bob:
    image: parity/polkadot:v0.9.9-1
    ports:
      - 9945:9944
      - 9934:9933
      - 30334:30333
    volumes:
      - relaychain-bob:/data
      - ./chainspec-raw.json:/app/chainspec-raw.json
    command:
      - --base-path=/data
      - --chain=/app/chainspec-raw.json
      - --validator
      - --ws-external
      - --rpc-external
      - --rpc-cors=all
      - --name=bob
      - --rpc-methods=unsafe
    environment:
      RUST_LOG: parachain::candidate-backing=trace
    ulimits: *a1
  relaychain-charlie:
    image: parity/polkadot:v0.9.9-1
    ports:
      - 9946:9944
      - 9935:9933
      - 30335:30333
    volumes:
      - relaychain-charlie:/data
      - ./chainspec-raw.json:/app/chainspec-raw.json
    command:
      - --base-path=/data
      - --chain=/app/chainspec-raw.json
      - --validator
      - --ws-external
      - --rpc-external
      - --rpc-cors=all
      - --name=bob
      - --rpc-methods=unsafe
    environment:
      RUST_LOG: parachain::candidate-backing=trace
    ulimits: *a1

volumes:
  ? relaychain-alice
  ? relaychain-bob
  ? relaychain-charlie